:root {
  --operator: orange;
  --dark: #777;
  --light: lightgray;
  --ws: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display {
  font-size: 30px;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--dark);
}

.display span {
  color: white;
}

.keyboard {
  display: flex;
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.operators {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

button {
  border: 1px solid var(--light);
  display: flex;
  flex: 0 1 33.33%;
  justify-content: center;
  align-items: center;
  outline: none;
  color: black;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.operators button {
  flex: 0 1 0%;
  min-width: 125px;
  background-color: var(--operator);
}

button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.2;
  transition: all 0.4s;
}

button:active::after {
  opacity: 1;
  transition: 0s;
}

.digits button:nth-last-child(2) {
  flex-grow: 2;
}
